@use "../variables"

*
    margin: 0
    padding: 0
    box-sizing: border-box

.container-about
    background-color: variables.$body-bg-color-secondary
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 400px

.container-about h2
    color: variables.$secondary-text-color
    margin-bottom: 40px
    font-family: variables.$font-stack
    font-weight: 400

h3, p
    color: variables.$text-color
    font-family: variables.$font-stack
    font-weight: 400

.info
    background: variables.$about-bg-color
    width: 70%
    height: 110px
    margin-bottom: 50px

.topicos
    display: flex
    gap: 20px
    cursor: pointer

.topicos .active
    background-color: variables.$nav-bg-color
    width: 75px

.info p
    background-color: variables.$nav-bg-color
    height: 100px
    padding: 10px

.services
    margin-top: 30px
