@use "../variables"

.container-services
    display: flex
    justify-content: space-between
    align-items: center

.container-services p
    font-family: variables.$font-stack
    font-weight: 300
    font-size: 14px
    width: 65%

.footer
    height: 150px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center