@use "../variables"

.container-services
    display: flex
    justify-content: space-between
    align-items: center
    height: 80px
    width: 100%
    text-align: center

.container-services p
    font-family: variables.$font-stack
    font-weight: 300
    font-size: 14px
    width: 65%


